html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.site-footer {
    text-align: center;
    font-size: 0.65rem; /* 更小的字体 */
    margin-top: auto; /* Push to bottom */
    width: 100%;
    padding-bottom: 2rem;
}

